<div class="table-responsive">
<table class="table table-striped align-middle">
    <thead *ngIf="unassign==true">
        <tr>No unassigned applications!</tr>
    </thead>
    <thead *ngIf="unassign==false">
        <tr>
            <th scope="col">Application ID</th>
            <th scope="col">Job Name</th>
            <th scope="col">Applicant's Name</th>
            <th scope="col">Date of Application</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="col">Assign Recruiter</th>
        </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let application of unassignedApplications">
            <th scope="row">{{ application.id }}</th>
            <td>{{ application.job.name }}</td>
            <td>{{ application.users[0].firstName +" "+ application.users[0].lastName }}</td>
            <td>{{ application.dateCreated | date}}</td>
            <td>{{ application.users[0].phone }}</td>
            <td>{{ application.users[0].email }}</td>
            <td>
                <div class="btn-group btn-group-sm" role="group">
                    <button class="myBtn" (click)="openModal(application,'assignRec')">Assign</button>
                </div>  
            </td>
        </tr>
    </tbody>
</table>
<div #assignRec class="view-modal">
    <div class="modal-view-details" *ngIf="recruiters !== null && recruiters !== undefined">
        <div class="container" *ngIf="currentSelectedApplication !== null && currentSelectedApplication !== undefined">
            <br>
            <div class="alert alert-info">
                <strong>Viewing Cogent University Recruiters. Select a recruiter to assign to {{ currentSelectedApplication.users[0].firstName }} {{ currentSelectedApplication.users[0].lastName }}.</strong>
            </div>
            <br>
            <table class="table table-striped align-middle">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">LinkedIn</th>
                    <th scope="col">Assign Recruiter</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let recruiter of recruiters">
                        <th scope="row">{{ recruiter.id}}</th>
                        <td>{{ recruiter.firstName}} {{ recruiter.lastName }}</td>
                        <td>{{ recruiter.email }}</td>
                        <td>{{ recruiter.phone }}</td>
                        <td>{{ recruiter.linkedin }}</td>
                        <td>    
                            <div class="btn-group btn-group-sm" role="group">
                                <button class="myBtn"  (click)="assignApplicant(currentSelectedApplication.id, recruiter.id)">Assign</button>
                            </div>  
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col">
                <button (click)="closeModal()" style="float: right;">Close</button>
            </div>
        </div>
    </div>
</div>
</div>