<div class="card mt-4">
  <h1 class="card-header">Greetings, {{user.firstName}} {{user.lastName}}</h1>
  <div *ngIf="noApp$" class="alert alert-danger mt-3 mb-0">
    <span>Please fill out a valid application to proceed with the hiring process.
      <button type="button" class="btn btn-secondary" [routerLink]="['/jobs']">Complete Application</button>
    </span>
  </div>
  <div class="card-body" *ngIf="!(noApp$)">
  <div class="card-body">
    <br>
      <app-progress-bar></app-progress-bar>
    <br>
      <app-interview-details></app-interview-details>
      <br>
      <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapseOne">
                Application Details
              </button>
            </h2>
          <div id="collapse2" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  <app-application-table></app-application-table>
              </div>
          </div>
          </div>
      </div>
      <br>
      <app-recruiter-details></app-recruiter-details>
      <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
  </div>
  </div>
</div>
