<div class="card mt-4">
  <h1 class="card-header">Greetings, {{user.firstName}} {{user.lastName}}</h1>
  <div class="card-body" style="display: flex; flex-direction: column; align-items: center;">
      <br>
      <button type="button" class="btn btn-warning" routerLink="/jobs">Jobs Board</button>
      <br>
      <button type="button" class="btn btn-primary" routerLink="/manager-portal/applicant-table">Applicant Board</button>
      <br>
      <button type="button" class="btn btn-success" routerLink="/manager-portal/recruiter-table">Recruiter Board</button>
      <br>
      <button type="button" class="btn btn-info" routerLink="/manager-portal/user-form">Add User to System</button>
  </div>
</div>